<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>跳转</title>

</head>

<body>

<h1 style="color: red" align="center">你还未登录</h1>
<div id="timer" align="center"></div>
<p align="center">将自动跳转到登录页面</p>
<div align="center">
    <a href="/" th:href="@{/}">
        <button  align="center">返回首页</button>
    </a>

</div>

<script>
    var time = 4;
    var timer=document.getElementById("timer");
    setInterval(function() {
        time--;
        if(time === 0){
            window.location.href="/login"
        }
        timer.textContent= "剩余时间" + time + "秒"
    }, 1000)
</script>

</body>
</html>